# use glob syntax.
syntax: glob

libs/**
autom4te.cache/*
*.obj
*.0
*.O
*.o
*.o.d
*.Po
*.log
*.gcno
*.gcda
*.bash
*.class
*.elf
*.hex
*.la
*.lai
*.lo
*.m4
*.map
*.mk
*.properties
*.so
*.dirstamp
*.desktop
*.aux
*.dvi
*.~*
ar-lib
config.h
config.h.in
config.h.in~
config.status
config.guess
config.sub
compile
configure
depcomp
install-sh
libtool
Makefile
Makefile.in
missing
stamp-h1
ltmain.sh
.deps

build/ccfinderx
